<a href="https://colab.research.google.com/github/mralamdari/Natural-language-processing/blob/main/Language_Detector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import os
import nltk
import pandas as pd

In [66]:
file_path_csv = '/content/drive/MyDrive/University/dataMining.csv'

In [68]:
text_file = pd.read_csv(file_path_csv, sep='delimiter')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [69]:
text_file

                                         class,content
0    english,'Data mining has been defined as the n...
1    english,'An example of data mining often calle...
2    english,'If a clothing store records the purch...
3    english,'The example deals with association ru...
4    english,'Not all data is transaction based and...
..                                                 ...
184  german,' Die ideale Anwendungsumgebung stellt ...
185  german,' In der Praxis ist dies jedoch regelm�...
186  german,' Relevante Daten liegen meist zerstreu...
187  german,' Ben�tigte Daten werden teilweise gar ...
188  german,' Grunds�tzlich sollten neben den versc...

[189 rows x 1 columns]

In [ ]:
sep='delimiter', header=None